<header>
  <h1>Movies</h1>

  <ul class="actions">
    <% if user_signed_in? %>
      <li><%= link_to "New Movie", new_movie_path, class: "new" %></li>
    <% end %>
  </ul>

</header>

<div id="movies">
  <%= render @movies %>
</div>

<div id="paginator">
  <%= paginate @movies, remote: true %>
</div>
