// Place all the styles related to the movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#movies h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 20px 0px 0px;
}

#movies ul.actions {
  @extend ul.actions;
}

blockquote.comment p {
  font-size: 14px;
}

.rating-inline {
  display: inline-block;
  vertical-align: middle;
}

.rating-inline.amount {
  @extend .rating-inline;
  margin-left: 10px;
  font-size: 1.5em;
}
